MONGO_URI=

ACTIVATION_TOKEN_SECRET="QArdmW2>/pynH.4hFgPMm7.D7'66c@zFK*8B@XY2>RuSeVV%PFcqj&UPN%c??g66JR[F"

ACCESS_TOKEN_SECRET="TZ@"F:<XWggquz~P5QUJWMg,bV}X:[6Gb4HZwG3_~VqL4mVDT"!,cCaCgCPvmLvU+s33"

REFRESH_TOKEN_SECRET="[w_8*;@uBy!<rhrB/&V5\e'z/Hu~nY.*Fw,7gWR:~'8sy8JhNSACp!Gb/87,<jN88Ed7"

CLIENT_URL=http://localhost:3000

MAILING_SERVICE_CLIENT_ID=*****.apps.googleusercontent.com

MAILING_SERVICE_CLIENT_SECRET=*****

MAILING_SERVICE_REFRESH_TOKEN=*****

SENDER_EMAIL_ADDRESS=vinaphone5gb@gmail.com

CLOUD_NAME=*****

CLOUD_API_KEY=*****

CLOUD_API_SECRET=*****

GOOGLE_SECRET=kYp3s6v9y$B&E(H+MbQeThWmZq4t7w!z